{
  "extends": [
    "eslint:recommended",
    "semistandard"
  ],
  "ecmaFeatures": {
    "modules": false,
    "experimentalObjectRestSpread": false
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": false
  }
}
